.articles {
  display: flex;
  min-height: 100vh;

  &__main {
    padding-left: 100px !important;
    padding-top: 50px !important;
  }
  &__sidebar {
    padding: 50px 0 !important;
    border-left: 1px solid #ccc;
  }
  &__reveal {
    font-size: 15px;
    line-height: 150%;
  }
  &__list {
    padding: 50px 60px 0 60px !important;
    font-size: 16px;
    line-height: 150%;
  }
}
.small--avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 2px solid #fff;
  &:not(:first-child) {
    margin-left: -20px;
  }
}

.trending {
  &__article {
    display: flex;
    padding: 10px 20px;

    &--img {
      padding-right: 20px;
    }

    &--body {
      line-height: 20px;
      padding-top: 10px;
      .article__title {
        font-weight: 700;
      }
      &--info {
        font-size: 10px;
      }
      &__reveal {
        font-size: 15px;
        line-height: 150%;
      }
      &__list {
        padding: 50px 60px 0 60px !important;
      }
    }
  }
}

.title--md {
  font-weight: 700 !important;
  font-size: 19px;
}

.article {
  &-img {
    height: 246px !important;
    width: 310px !important;
  }
  &__highlights {
    display: flex;
    align-items: baseline;
    color: #888;

    & > span {
      font-size: 30px;
    }
  }
  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    align-content: center;
  }

  &__ratings {
    display: flex;
    align-items: center;
  }
  &__photo {
    height: 480px !important;
    width: 100%;
  }

  &__body {
    margin: 30px 0 50px 0;
    line-height: 35px;

    &--para {
      margin-top: 25px;
    }

    &--sub-heading {
      padding-top: 20px;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}

.reactions {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: flex-end;
  position: fixed;
  margin-left: 50px;

  & .icon {
    margin-bottom: 20px;
    height: 30px;
    width: 30px;
  }

  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > span {
      padding-bottom: 5px;
    }
  }
}

.author {
  display: flex;
  align-items: center;

  &__avatar {
    margin-right: 30px;
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &-name {
    margin-right: 10px;
  }
}

.card--reactions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .icon-stats {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }

  & > .icon:last-child {
    align-self: flex-end;
  }

  .stats {
    display: flex;
  }
}