.card--profile {
  position: relative;
  margin-top: 70px;
  height: 75vh;

  &__avatar {
    position: absolute;
    top: 4%;
    left: 5%;
    border: solid 2px #000;
    height: 150px;
    width: 150px;
  }

  &__savebtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    font-size: 25px;
    text-align: center;
    padding: 20px;
  }

  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  &__bg {
    background: #faebd7;
  }
}

.activities {
  background-color: darken($secondary-color, 3%);
  height: 100%;
}

.avatar {
  &--large {
    width: 120px !important;
    height: 120px !important;
  }
}

.follower {
  display: flex;
  padding: 20px;
  //   align-content: center;
  align-items: center;

  &__avatar {
    padding-right: 20px;
  }
}

.small-article__photo {
  max-height: auto !important;
  max-width: 150px !important;
}
