.badge {
  border-radius: 50%;
  position: absolute;
  background-color: $primary-color;
  color: white;
  height: 25px;
  width: 25px;
  top: 0%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  & p {
    font-size: 12px;
  }
}
