.btn {
  background-color: $primary-color;
  &:hover {
    background-color: darken($primary-color, 5%);
  }
  &--block {
    width: 100%;
  }

  &-flat {
    border: 1px solid $tertiary-color;
    text-transform: none;
    color: #555;
    font-weight: 200;
    display: flex;
    align-items: center;

    &--primary {
      color: $primary-color;
      height: 26px;
      line-height: 26px;
      border-color: $primary-color;

      &:hover {
        background: $primary-color !important;
        color: #fff;
      }
    }

    & .icon {
      margin-right: 20px;
    }

    &:hover {
      background-color: darken(#fff, 5%);
    }
  }
  &--rounded {
    border-radius: 200px;
  }
}
