body {
  background-color: $secondary-color;
}

.text-primary {
  color: $primary-color;
}

.fb-blue {
  background-color: #3d5a96 !important;
}

.brand {
  font-size: 30px !important;
}

form {
  & .row {
    margin-bottom: 0;
  }
}

.link--icon {
  display: flex;
  align-items: center;

  .icon {
    margin-right: 10px;
  }
}

.container--fluid {
  margin: 30px;
}

.card--article {
  padding: 20px 20px;

  &__title {
    font-size: 15px;
    font-weight: bold;
  }
}

.tabs .tab a:hover,
.tabs .tab a.active {
  color: $primary-color;
}

.tabs .indicator {
  background-color: $primary-color;
}
.error {
  border-bottom: solid 1px red !important;
}

.divider {
  background-color: #ccc;
}

[contenteditable="true"]:focus,
[contenteditable="true"]:active {
  border: none;
  outline: none;
}

.container--medium {
  width: 53% !important;
}
textarea.materialize-textarea {
  height: 7rem;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> fec6b12fbd72c7ea7df9921d253f9f43080f66ac
helper-text {
  margin-top: 0 !important;
  padding: 0;
  font-size: 12px;
<<<<<<< HEAD
=======
=======
}
>>>>>>> fec6b12fbd72c7ea7df9921d253f9f43080f66ac

.danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 76e951c... [ft #59961953] Add Social login with facebook and google. (#13)
=======
>>>>>>> fec6b12fbd72c7ea7df9921d253f9f43080f66ac
}
=======
}

.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
>>>>>>> e5d0cfab1247cc3a29d00100a2f8b915eea34ea9
