// Variables should be the first because all other files are inheriting from them
@import "utils/variables";

//IMPORT ALL THE OTHER FILES HERE
@import "base/resets";
@import "base/base";
@import "components/avatars";
@import "components/badge";
@import "components/buttons";
@import "components/cards";
@import "components/comments";
@import "components/icons";
@import "components/nav";
@import "layout/navbar";
@import "pages/auth";
@import "pages/articles";
@import "utils/helpers";
@import "pages/profile";

